.header {
    height: 280px;
    padding: 30px 40px;
    display: flex;
    background-color: white;
}
.site-logan {
    margin-left: 50px;
    text-align: center;
}
h2 {
    font-size: 45px;
}
.label-medium {
    padding: 0px 0px;
    font-size: medium;
}