<div class="header">
    <div class="site-logan">
        <h2> Appointment Application </h2>
    </div>
</div>
<div class="appointment-component-display">
    <app-doctor class="doctor-component-display" (selectedDoctor)="onDoctorSelection($event)"></app-doctor>
    <app-book-appointment class="booking-component-display" [selectedDoctor]="selectedDoctor"></app-book-appointment>
</div>
<div *ngIf="selectedDoctor?.id > 0" class="appointment-list-display">
    <span layout="row"><hr flex/></span>
    <div>
        <button (click)="displayAppointments()" class="btn">Display Appointment</button>
        <button (click)="displayAvailableAppointments()" class="btn">First Available Appointment</button>
    </div>
    <div>
        <app-appointment-details *ngIf="displayAppointmentsForDoctor" [selectedDoctor]="selectedDoctor"></app-appointment-details>
        <app-available-appointment *ngIf="displayFirstAvailableAppointment" [selectedDoctor]="selectedDoctor"></app-available-appointment>
    </div>
</div>


