.container {
    display: flex;
    flex-direction: column;
}
.booking-header {
    margin: 5px;
    text-align: center;
}
.booking-data{
    padding: 10px 10px;
}
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.alert.success{
    background-color: #04AA6D;
}